<style>
    h1{
    text-align: center;
    background-color: rgb(83, 169, 180);
    }

    body{
    background:rgb(235, 204, 224) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    table{
        border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #ffffff;
    }
    .formulario{
      width: 50%; /* Ancho del contenedor */
      margin: 0 auto; /* Centra el contenedor horizontalmente */
    }
    
    form {
      background-color: #f2f2f2; /* Color de fondo del formulario */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    }

</style>
</html>